dcm4chee/xero-wado/trunk/wado-xero/src/main/resources/org/dcm4chee/xero/search/study/study.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:tns="http://www.dcm4chee.org/xero/search/study/" 
  xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:xhtml="http://www.w3.org/1999/xhtml" 
  targetNamespace="http://www.dcm4chee.org/xero/search/study/" 
  jxb:version="2.0"
>
  <import namespace="http://www.w3.org/2000/svg" schemaLocation="../../../../w3/svg/partialSvg.xsd"/>
  <import namespace="http://www.w3.org/1999/xhtml" schemaLocation="../../../../w3/svg/p.xsd"/>

  <!-- A studies element is the root for all children, and all children should
         have information upto the studies level, at least UID's, however many
         studies will NOT be complete in terms of having all children. -->
    <element name="results" type="tns:resultsType"/>
    
    <element name="patient" type="tns:patientType"/>

    <element name="study" type="tns:studyType"/>
    
    <element name="series" type="tns:seriesType"/>
    
    <element name="image">
       <annotation><appinfo>
     	<jxb:class name="ImageType" />
   	   </appinfo></annotation>
       <complexType>
    	<annotation>
    		<documentation>
    			Images are viewable image meta-data.  Can have arbitrary additional customized
    			attributes.
    			@param rows is the number of available pixels in the y dimension.
    			@param columns is the number of avaialble pixels in the x dimension.
    			@param frame is the frame number
    			@param SpsUID is the softcopy presentation state UID.  This can be a GSPS object or a CSPS object  				
    		</documentation>
    	</annotation>
    	<complexContent>
	   		<extension base="tns:dicomObjectType">
    			<attribute name="Rows" type="int" />
    			<attribute name="Columns" type="int" />
    			<attribute name="gspsUID" type="tns:UID" />
    		</extension>
    	</complexContent>
       </complexType>
   	</element>
    
    <element name="other">
       <annotation><appinfo>
     	<jxb:class name="OtherType" />
   	   </appinfo></annotation>
       <complexType>
    	<annotation>
    		<documentation>
    			Other, non-image type objects.  Eventually one expects individual types,
    			but in the meantime having a basic definition is useful to include.
    			Set play to false for objects which shouldn't be seen at all by users
    			true for objects that are viewable.  external for things like audio files 
    			that are not easily included embedded in a browser window (eg a word doc, although
    			that all partly depends on the browser implementation).
    			@param play if the object is something the user can see or hear, eg an ECG, audio file etc.
    			@param mimetype is the basic type of the object.
    			@param external is true if the object can't be embedded in a window typcially.
    		</documentation>
    	</annotation>
    	<complexContent>
	   		<extension base="tns:dicomObjectType">
	   			<attribute name="play" type="boolean" />
	   			<attribute name="mimetype" type="string" />
	   			<attribute name="external"  type="boolean" />
	   			<attribute name="name" type="string" />
	   			<attribute name="description" type="string" />
	   			<attribute name="contentDateTime" type="string" />
    		</extension>
    	</complexContent>
       </complexType>
   	</element>

    <element name="gsps" >
       <annotation><appinfo>
     	<jxb:class name="GspsType" />
   	   </appinfo></annotation>
       <complexType>
    	<annotation>
    		<documentation>
    			 GSPS Objects contain SVG representations of markup, and information
    			 about the GSPS itself.
    		</documentation>
    	</annotation>
     <complexContent>
       <extension base="tns:dicomObjectType">
         <choice>
           <element ref="svg:svg" minOccurs="0" maxOccurs="1" />
         </choice>
         <attribute name="contentLabel" />
         <attribute name="presentationDateTime" type="dateTime"/>
       </extension>
     </complexContent>
       </complexType>
    </element>
    
    <element name="report" type="tns:reportType" />
    
    <element name="keyObject" type="tns:keyObjectType" />
    
    <element name="objectRef" type="tns:objectRef" />
    
    <complexType name="resultsType">
    	<sequence maxOccurs="unbounded" minOccurs="0">
    		<element ref="tns:patient"></element>
    	</sequence>
    	<attribute name="tooManyResults" type="boolean" use="optional" />
    	<attribute name="ae" type="string" use="optional" />
     </complexType>
    
    <complexType name="patientType">
         <sequence maxOccurs="unbounded" minOccurs="0">
            <element ref="tns:study" />
         </sequence>
         <attribute name="PatientSex" type="tns:SexEnum" />
         <attribute name="PatientID" />
         <attribute name="PatientName" />
         <attribute name="PatientBirthDate" type="dateTime"/>
         <attribute name="PatientIdentifier" type="string" />
         <attribute name="PatientComments" type="string" />
         <attribute name="OtherPatientIDs" type="string" />
         <attribute name="PatientAge" type="string" />
         <attribute name="AdditionalPatientHistory" type="string" />
         <attribute name="CurrentPatientLocation" type="string" />
         <attribute name="ConfidentialityCode" type="string" />
    </complexType>

    <complexType name="studyType">
        <sequence>
    		<element ref="tns:series" minOccurs="0" maxOccurs="unbounded"/>
       	</sequence>
    	<attribute name="ModalitiesInStudy" />
    	<attribute name="studyUID" type="tns:UID" />
    	<attribute name="StudyID" type="string" />
    	<attribute name="StudyDateTime" type="string" />
    	<attribute name="StudyStatusID" />
    	<attribute name="NumberOfStudyRelatedInstances" type="int" />
    	<attribute name="NumberOfStudyRelatedSeries" type="int" />
    	<attribute name="InstanceAvailability" />
    	<attribute name="ReferringPhysicianName" />
    	<attribute name="AccessionNumber" />
    	<attribute name="StudyDescription" />
		<attribute name="PhysiciansOfRecord" />
    	<attribute name="NameOfPhysiciansReadingStudy" />
    	<attribute name="AdmittingDiagnosesDescription" />
        	<!-- Contains the content name for the GSPS to apply -->
    	<attribute name="gspsLabel" type="string" />
    </complexType>
    
    <complexType name="seriesType">
    	<sequence minOccurs="0" maxOccurs="unbounded">
    		<annotation>
    		   <appinfo>
    		      <jxb:property name="DicomObject" />
    		   </appinfo>
    		</annotation>
    		<element ref="tns:image" />
    		<element ref="tns:gsps" />
    		<element ref="tns:report" />
    		<element ref="tns:other" />
    		<element ref="tns:keyObject" />
    	</sequence>
    	<attribute name="seriesUID" type="tns:UID" />
    	<attribute name="SeriesNumber" type="int" />
    	<!-- A synthetic series is one artifially split out or otherwise modified,
    		and in this case, it will be identified by a new (unique) series number,
    		and either the same or a new series instance UID.  If the series UID is new,
    		then the original series UID must be included in the image. -->
    	<attribute name="Synthetic" type="boolean" default="false" />
    	<attribute name="SeriesDescription" type="string" />
    	<attribute name="Modality" type="string" />
    	<attribute name="BodyPartExamined" type="string" />
    	<attribute name="Laterality" type="string" />
    	<!-- The actual number of objects that are available in the series to be viewed. -->
    	<attribute name="Viewable" type="int" />
    	<attribute name="Manufacturer" type="string" />
    	<attribute name="InstitutionName" />
    	<attribute name="PerformingPhysicianName" />
    	<attribute name="StationName" />
    	<attribute name="SeriesDateTime" type="string" />
    	<attribute name="OperatorName" />
    	<attribute name="InstitutionalDepartmentName" />
    	<attribute name="ManufacturerModelName" />
    	<attribute name="RequestingPhysician" />
    </complexType>
    
    <simpleType name="PresentationSizeMode">
      <restriction base="string">
        <enumeration value="SCALE TO FIT" />
        <enumeration value="TRUE SIZE" />
        <enumeration value="MAGNIFY" />
      </restriction>
    </simpleType>

    <complexType name="dicomObjectType">
       <attribute name="objectUID" type="tns:UID" />
       <attribute name="InstanceNumber" type="int" />
       <!-- Position is the absolute position within the series, 0 based without duplicates, from [0,viewable). -->
       <attribute name="Position" type="int" />
	</complexType>
	    
	<simpleType name="UID">
	   <restriction base="string" />
	</simpleType>
	
    <simpleType name="SexEnum">
       <restriction base="string">
           <enumeration value="M" />
           <enumeration value="F" />
           <enumeration value="O" />
       </restriction>
    </simpleType>
    
    <complexType name="objectRef">
       <attribute name="objectUID" type="tns:UID" />
       <attribute name="gspsUID" type="tns:UID" use="optional"/>
       <attribute name="frame" type="int" use="optional"/>
    </complexType>
    
    <complexType name="reportType">
  	  <annotation>
    	<documentation>
Reports are user or automatically dictated information about the results of the study.
    	</documentation>
      </annotation>
      <complexContent>
        <extension base="tns:dicomObjectType">
           <sequence>
              <element ref="tns:study" minOccurs="0" maxOccurs="unbounded"/>
           </sequence>
           <attribute name="conceptCode" type="string" />
           <attribute name="conceptMeaning" type="string" />
           <attribute name="completion" type="string" />
           <attribute name="verification" type="string" />
        </extension>
      </complexContent>
    </complexType>
    
    <complexType name="keyObjectType">
      <annotation>
    	<documentation>
Key objects are a named (by code meaning) list of images to display.
    	</documentation>
      </annotation>
      <complexContent>
        <extension base="tns:reportType">
           <sequence>
              <element ref="tns:objectRef" minOccurs="0" maxOccurs="unbounded"/>
              <element ref="xhtml:p" minOccurs="0" maxOccurs="unbounded"/>
           </sequence>
        </extension>
      </complexContent>
    </complexType>
    
</schema>
